@use 'src/styles/variables' as var;

.option {
  @apply flex items-center my-10 space-x-24;
  height: 68px;
}

.option-title {
  @apply flex items-center justify-center h-full;
  width: 255px;
  background: var(--color-deep-navy);
  border-radius: 25px 0 0 25px;
  font-family: var.$primary-font, var.$secondary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: white;
}

.option-item {
  @apply flex items-center justify-center h-full space-x-20;
  width: 494px;
  background: var(--color-alice-blue);
  border-radius: 0 25px 25px 0;
  font-family: var.$primary-font, var.$secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.option-radio {
  @apply h-6 w-6 focus:ring-0 text-red-500;
  margin-left: 5px;
  margin-right: 5px;
  border: 3px solid var(--color-baby-blue);
  color: var(--color-deep-navy);
}

.option-label {
  @apply flex items-center justify-center;
}
