.top {
  @apply w-5/6 bg-white mx-auto space-y-16;
  padding-bottom: 150px;
  padding-left: 144px;
  padding-right: 144px;
  border-left: thin solid #36506c;
  border-right: thin solid #36506c;
  overflow: hidden;
}
